---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
    variant?: 'default' | 'outline';
};

const { href, class: className, variant = 'default', ...props } = Astro.props;

const variants = {
    default:
        'text-xs font-light py-4 px-8 bg-neutral-800 rounded shadow-xl hover:bg-neutral-700/50 transition-all duration-300',
    outline:
        'text-xs font-light py-4 px-6 border border-neutral-800 rounded shadow-xl hover:border-neutral-700 hover:text-neutral-100 transition-all duration-300',
};
---

<a href={href} class:list={[variants[variant], className]} {...props}>
    <slot />
</a>
