<main
    id="overview"
    class="w-full max-w-2xl m-auto
                [&>h2]:font-light [&>h2]:text-3xl [&>h2]:mb-4 [&>h2]:mt-12
                [&>h3]:font-light [&>h3]:text-2xl [&>h3]:mb-2 [&>h3]:mt-6
                [&>p]:mb-2 [&>p]:leading-relaxed [&>p]:text-neutral-400 [&>p]:text-lg
                [&>a]:text-primary-400 [&>a]:underline [&>a]:underline-offset-4 [&>a:hover]:text-primary-300
                [&>img]:my-8 [&>img]:rounded-lg [&>img]:shadow-lg
                [&>blockquote]:border-l-4 [&>blockquote]:border-primary-500 [&>blockquote]:pl-4 [&>blockquote]:italic [&>blockquote]:my-6 [&>blockquote]:text-neutral-300/80
                [&>strong]:font-bold
                [&>table]:my-4 [&>table]:text-sm
                [&>table>thead]:border-b [&>table>thead]:text-left
                [&>table>tbody>tr]:border-b [&>table>tbody>tr>td]:py-4 [&>table>tbody>tr>td]:px-2
                [&>ul]:list-disc [&>ul]:pl-6 [&>ul]:my-4 [&>ul>li]:py-1
                [&>ol]:list-decimal [&>ol]:pl-6 [&>ol]:my-4 [&>ol>li]:py-1
                [&>pre]:p-6 [&>pre]:my-8 [&>pre]:relative [&>pre]:!bg-neutral-950/35 [&>pre]:rounded-md
                [&>pre>button]:cursor-pointer
                [&>pre>code]:!bg-transparent [&>pre>code]:!p-0 [&>pre>code]:!rounded-none
                [&>p>code]:bg-neutral-800/50 [&>p>code]:text-sm [&>p>code]:px-1.5 [&>p>code]:py-0.5 [&>p>code]:rounded-md
                [&>ul>li>code]:bg-neutral-800/50 [&>ul>li>code]:text-sm [&>ul>li>code]:px-1.5 [&>ul>li>code]:py-0.5 [&>ul>li>code]:rounded-md
                [&>hr]:border-t [&>hr]:border-neutral-700/50
                [&>hr]:my-8"
>
    <slot />
    <script>
        import '../../scripts/copyCodeButton';
    </script>
</main>
