---

---
<main
    id="overview"
    class="
        w-11/12 max-w-2xl m-auto
        [&>h2]:font-light [&>h2]:text-3xl [&>h2]:mb-4 [&>h2]:mt-12
        [&>p]:mb-2
        [&>strong]:font-bold
        [&>table]:my-4 [&>table]:text-sm
        [&>table>thead]:border-b [&>table>thead]:text-left
        [&>table>tbody>tr]:border-b [&>table>tbody>tr>td]:py-4 [&>table>tbody>tr>td]:px-2
        [&>ul]:list-disc [&>ul]:pl-6 [&>ul]:my-4 [&>ul>li]:py-1
        [&>ol]:list-decimal [&>ol]:pl-6 [&>ol]:my-4 [&>ol>li]:py-1
        [&>pre]:p-6 [&>pre]:my-8 [&>pre]:relative [&>pre]:!bg-neutral-950/35 [&>pre]:rounded-md
        [&>hr]:my-8
        [&>a]:bg-primary-400
    "
>
    <slot />
    <script>
        document.querySelectorAll('pre').forEach(pre => {
            const button = document.createElement('button');
            button.className = 'absolute text-xs top-2 right-2 px-1 py-1 flex items-center gap-2';
            button.innerHTML = `
                <svg class="h-4 w-4" aria-hidden="true" viewBox="0 0 16 16" version="1.1">
                    <path fill="currentColor" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
                    <path fill="currentColor" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
                </svg>
            `;
            button.addEventListener('click', () => {
                navigator.clipboard.writeText(pre.textContent || '');
                button.innerHTML = `
                    <svg class="h-4 w-4" aria-hidden="true" viewBox="0 0 16 16" version="1.1">
                        <path fill="currentColor" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
                        <path fill="currentColor" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
                    </svg>
                    <span>Copied!</span>
                `;
                setTimeout(() => {
                    button.innerHTML = `<svg class="h-4 w-4" aria-hidden="true" viewBox="0 0 16 16" version="1.1">
                        <path fill="currentColor" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
                        <path fill="currentColor" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
                    </svg>`;
                }, 2000);
            });
            pre.appendChild(button);
        });
    </script>
</main>