---
import Image from 'astro/components/Image.astro';
import type { GalleryImage } from '../../types/portfolio';

interface Props {
    images: GalleryImage[];
    title: string;
}

const { images, title } = Astro.props;
---

<section id="gallery" class="grid gap-4 pt-4">
    {
        images.map((image, index) => (
            <div class="image-container relative">
                <Image
                    src={image.imageUrl}
                    alt={image.alt || `${title} imagen ${index + 1}`}
                    width={1152}
                    height={648}
                    loading="lazy"
                />
                <div class="w-full p-2 text-xs">{image.alt}</div>
            </div>
        ))
    }
</section>
