@import 'tailwindcss';

@theme {
    --font-sans: 'Inter Variable', 'sans-serif';
    --color-primary-50: #ecf3ff;
    --color-primary-100: #dde9ff;
    --color-primary-200: #c2d6ff;
    --color-primary-300: #9cb9ff;
    --color-primary-400: #7592ff;
    --color-primary-500: #536aff;
    --color-primary-600: #3641f5;
    --color-primary-700: #2a31d8;
    --color-primary-800: #252cae;
    --color-primary-900: #262e89;
    --color-primary-950: #161950;

    --animate-slide-in: slide-in 0.3s ease-out;
    --animate-fade-in: fade-in 0.3s ease-out;
}

@keyframes slide-in {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


* {
    scroll-behavior: smooth;
    outline: none
}

#overview a {
    color: var(--color-primary-400);
}