---
import Brand from "./Brand.astro";
import Navigation from "./Navigation.astro";
---

<header>
	<nav class="flex items-center justify-center md:justify-between py-6 md:py-8 max-w-6xl mx-auto">
		<Brand />
        <Navigation />
	</nav>
</header>