---
import { languages } from '../../i18n/ui';
import { getRouteFromUrl } from '../../i18n/utils';
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const langClass = (l: string) => (lang === l ? 'font-bold' : '');
---

<ul class="flex items-center gap-2">
    {
        Object.entries(languages).map(([lang, label]) => (
            <li class={langClass(lang) + ' text-sm hover:underline'}>
                <a href={translatePath(`/${route ? route : ''}`, lang)}>{label}</a>
            </li>
        ))
    }
</ul>
