---
import NavLink from "./NavLink.astro";
---

<nav class="hidden md:flex items-center gap-4">
    <NavLink href="/">Home</a>
    <NavLink href="/blog">Blog</a>
    <NavLink href="/portfolio">Portfolio</a>
</nav>