---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';
import LanguagePicker from './LanguagePicker.astro';
import NavLink from './NavLink.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav class="flex items-center gap-4">
    <NavLink href={translatePath('/blog')}>{t('nav.blog')}</NavLink>
    <NavLink href={translatePath('/portfolio')}>{t('nav.portfolio')}</NavLink>
    <LanguagePicker />
</nav>
