---
import AnchorLink from '../components/library/AnchorLink.astro';
import Button from '../components/library/Button.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import Layout from '../layouts/Layout.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('404.title')} lang={lang}>
    <main
        class="w-11/12 max-w-xl mx-auto my-8 min-h-[calc(100vh-28rem)] flex flex-col items-center justify-center text-center"
    >
        <h1 class="text-6xl font-thin mb-4">{t('404.title')}</h1>
        <p class="text-xl text-neutral-500 mb-8">
            {t('404.message')}
        </p>
        <div class="flex gap-4">
            <Button onclick="history.back()" variant="outline">
                {t('404.back')}
            </Button>
            <AnchorLink
                href="/"
                class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition"
            >
                {t('404.home')}
            </AnchorLink>
        </div>
    </main>
</Layout>
