---
import Cover from '../components/elements/Cover.astro';
import Layout from '../layouts/Layout.astro';
import PortfolioGrid from '../components/portfolio/Grid.astro';
import BlogGrid from '../components/blog/Grid.astro';
---

<Layout>
    <Cover />
    <div class="w-11/12 max-w-6xl mx-auto">
        <PortfolioGrid />
        <BlogGrid />
    </div>
</Layout>
