---
import Cover from '../components/elements/Cover.astro';
import Layout from '../layouts/Layout.astro';
import PortfolioGrid from '../components/portfolio/Grid.astro';
import BlogGrid from '../components/blog/Grid.astro';
---

<Layout>
    <Cover
        greeting="Hi, I'm Jenner 👋"
        description="Software Developer passionate about crafting innovative solutions and delightful user experiences"
        buttonText="Latest Projects"
        buttonUrl="/portfolio"
    />
    <section class="w-11/12 max-w-6xl mx-auto">
        <PortfolioGrid />
        <section>
            <h2 class="font-thin text-4xl">Blog</h2>
            <BlogGrid lang="en" />
        </section>
    </section>
</Layout>
