---
import Layout from '../layouts/Layout.astro';
const allPosts = Object.values(import.meta.glob('./portfolio/*.md', { eager: true }));

---

<Layout>
    <main class="w-11/12 max-w-2xl mx-auto my-8 min-h-[calc(100vh-28rem)]">
        <h1 class="w-full text-4xl font-light text-center bg-gradient-to-r from-neutral-300 to-neutral-700 inline-block text-transparent bg-clip-text">Portfolio</h1>
        <p class="text-center text-sm text-neutral-500">A collection of my projects and work</p>
    </main>
</Layout>
