---
import Image from 'astro/components/Image.astro';
import Copy from '../icons/Icons/Copy.astro';
import ButtonCopyLink from '../elements/ButtonCopyLink.astro';

interface Props {
    imageUrl: string;
    altText: string;
    author: string;
    publishDate: string;
}

const { imageUrl, altText, author, publishDate } = Astro.props;
---

<div class="relative">
    <Image
        src={imageUrl}
        alt={altText}
        width={1200}
        height={685}
        loading="eager"
        class="!aspect-square object-cover md:!aspect-video"
    />

    <div
        class="absolute bottom-0 left-0 flex w-full items-center justify-between gap-4 bg-neutral-900/70 px-6 md:px-7 py-3 md:py-6 backdrop-blur-sm"
    >
        <div class="w-full flex justify-between md:justify-start gap-8 sm:gap-16">
            <div class="flex flex-col gap-2">
                <h3 class="text-sm text-neutral-300/90">Written By</h3>
                <p class="font-semibold">{author}</p>
            </div>

            <div class="flex flex-col gap-2">
                <h3 class="text-sm text-neutral-300/90">Published on</h3>
                <p class="font-semibold">{publishDate}</p>
            </div>
        </div>

        <ButtonCopyLink
            class="hidden md:flex items-center gap-1 border px-2 py-1 hover:bg-neutral-800 cursor-pointer"
        >
            <Copy size="xs" />
            <span class="text-xs">Copy Link</span>
        </ButtonCopyLink>
    </div>
</div>
