---
import Card from './Card.astro';

const { lang } = Astro.props as { lang: 'en' | 'es' };

const localeBlogs: { en: unknown[]; es: unknown[] } = {
    en: Object.values(import.meta.glob('../../pages/blog/*.md', { eager: true })),
    es: Object.values(import.meta.glob('../../pages/es/blog/*.md', { eager: true })),
};

const allBlogs = Object.values(localeBlogs[lang]).sort(
    (a: any, b: any) =>
        new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()
);
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 lg:gap-8 my-16">
    {
        allBlogs.map((blog: any, i: number) => (
            <Card
                blog={blog}
                class={i === 0 ? 'sm:col-span-2' : ''}
                style={i === 0 ? 'portaid' : 'default'}
            />
        ))
    }
</div>
