---
const { name, size = 24, strokeWidth = 0, class: className = '', ...rest } = Astro.props;
---

<button
    onclick="
    navigator.clipboard.writeText(window.location.href);
    const button = this;
    const originalText = button.querySelector('span').textContent;
    button.querySelector('span').textContent = 'Copied!';
    button.disabled = true;
    setTimeout(() => {
        button.querySelector('span').textContent = originalText;
        button.disabled = false;
    }, 2000);"
    class:list={className}
>
    <slot />
</button>
