---
const {
    class: className = "from-primary-200 to-primary-500",
} = Astro.props;

const classList = [
    "bg-gradient-to-r text-transparent bg-clip-text",
    className,
]
---

<span class:list={classList}>
    <slot />
</span>